<app-todo-add></app-todo-add>

<h4 class="mt-5">Todo List</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col-2">#</th>
      <th scope="col-2">Done</th>
      <th scope="col-6">Task</th>
      <th scope="col-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todoList">
      <th scope="row">{{ item.id }}</th>
      <th scope="row">
        <input
          class="form-check-input mx-auto"
          type="checkbox"
          value=""
          id="defaultCheck1"
          [(ngModel)]="item.isComplete"
          (change)="onCheckToggle(item)"
        />
      </th>
      <td [class.strike-text]="item.isComplete">{{ item.name }}</td>
      <td>
        <button (click)="onDeleteClick(item.id)" class="btn btn-danger ml-2">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
